
        .completionList
        {
        border:solid 1px Gray;
        margin:0px;
        padding:3px;
        height: 120px;
        overflow:auto;
        background-color: #FFFFFF;     
        } 
        .listItem {
        color: #191919;
        } 
        .itemHighlighted {
        background-color: #82c4f7;       
        }
        .Dash-9 {
    /*width: 20% !important;*/
    height:50%;
    padding-right: 0px !important;
    padding-left: 5px !important;
}
        
        /*.ajax__tab_xp .ajax__tab_header .ajax__tab_tab {
    height: 21px !important;
    color: blue;
}*/

        .table_Modified {
            background: #27306b; border: 1px solid #fbfdfd!important;     color: #ffffff;
        }
           /* Sticky Social Icons */
.sticky-container{     padding: 0px;
    margin: 0px;
    position: fixed;
    right: -140px;
    top: 220px;
    width: 240px;
    z-index: 1000;}
.sticky li{list-style-type:none;background-color:#27306b;border-radius: 50px;color:#efefef;height:43px;padding:0px;margin:0px 0px 1px 0px; -webkit-transition:all 0.25s ease-in-out;-moz-transition:all 0.25s ease-in-out;-o-transition:all 0.25s ease-in-out; transition:all 0.25s ease-in-out; cursor:pointer;}
.sticky li:hover{margin-left:-115px;}
.sticky li img{float:left;margin:5px 4px;margin-right:5px;}
.sticky li p{padding-top:5px;margin:0px;line-height:16px; font-size:11px; float: left;}
.sticky li p a{     text-decoration: none;
    color: #ffffff;
    font-weight: 400;}
.sticky li p a:hover{text-decoration:underline;}
/* Sticky Social Icons */

  .center {
            position: fixed;
            z-index: 999;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            background-color: #7171715e;
            filter: alpha(opacity=60);
        }

            .center img {
                position: relative;
                left: 54%;
                right: 50%;
                width: 6%;
                top: 40%;
            }


